html,
body {
  margin: 0;
  padding: 0;
}

#editor-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--background);
}

#input-box {
  width: 0;
  margin: 0 0 0 -2px;
  padding: 0;
  outline: none;
}

#editor-layout {
  padding: 1em;
  color: var(--color);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.editor-line {
  display: flex;
  flex-direction: row;
}

.editor-line-number {
  padding-right: 1em;
  color: var(--line-number-color);
  pointer-events: none;
}

.editor-line-content {
  display: flex-inline;
  flex: 1;
  line-height: var(--line-height);
}

.editor-line-content-char {
  position: relative;
  &[data-focus="true"] {
    animation: blink 1s infinite;
  }
}

@keyframes blink {
  0%,
  49.9%,
  100% {
    box-shadow: -1px 0px 0px 0px #eee;
  }
  50%,
  99.9% {
    box-shadow: -1px 0px 0px 0px transparent;
  }
}
