<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <title>Textmark</title>
  </head>
  <style>
    body {
      overflow: hidden;
      height: 100vh;
      padding: 0;
      margin: 0;

      --editor-line-height: 1.7em;
      --active-bg-color: #00000025;
      --active-font-color: #000e;
      --active-font-weight: 450;
      --active-box-shadow-color: #0008;
    }
  </style>
  <body>
    <app-root></app-root>
    <script src="view.main.js"></script>
  </body>
</html>
