<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <title>Textmark</title>
  </head>
  <style>
    body {
      padding: 0;
      margin: 0;
    }

    ::-webkit-scrollbar {
      background-color: #ddd;
    }

    ::-webkit-scrollbar-thumb {
      background: #aaa;
    }

    ::-webkit-scrollbar-corner {
      background: #ddd;
    }
  </style>
  <body>
    <app-root></app-root>
    <script src="view.main.js"></script>
  </body>
</html>
